<script type="text/javascript">

function validate_airport()
{
if(document.getElementById("address_airport_id").value==""  && document.getElementById("address_airport_non_us").value=="")
{
  document.getElementById("airport_code").innerHTML="Airport name can not be left blank";
  document.getElementById("address_airport_id").focus();
  return false;
}

else if(document.getElementById("address_terminal_gate").value=="")
{
  document.getElementById("loc_airport").innerHTML="Airport location can not be left blank";
  document.getElementById("address_terminal_gate").focus();
  return false;
}

else
{
document.getElementById("loc_airport").innerHTML="";
document.getElementById("airport_code").innerHTML="";
document.getElementById('light4').style.display='none';document.getElementById('fade4').style.display='none'
}

}
</script>

<form action="/" method="post" onsubmit="new Ajax.Request('/post_invite/make_address_hash',{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)});return false;">
<div id="light4" class="white_content_common">
  <p>
  <div style="width:648px; margin:0 auto;">
    <div><img src="/images/newdesign/loc-top-bg.jpg" border="0" width="648" height="7"></div>
    <div style="background:url(/images/newdesign/loc-middle-bg.jpg) repeat-y; width:648px; ">
      <div  style="width:571px; float:left; padding:25px 0 4px 0;">
        <p class="cancel-grey"><a href = "#invitation_maximum_invitees" onclick="document.getElementById('light4').style.display='none';document.getElementById('fade4').style.display='none'" > Cancel &amp; Close</a></p>
      </div>
      <div style="float:left; width:59px;"><a href="#invitation_maximum_invitees" onclick="document.getElementById('light4').style.display='none';document.getElementById('fade4').style.display='none'"> <img src="/images/newdesign/location-close.jpg" border="0" width="28" height="26" style="margin:17px 0 4px 5px;"></a> </div>
      <div style="clear:both;">
        <table width="544" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td valign="top" width="234"><table width="234" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2"><img src="/images/newdesign/specify-location.jpg" border="0" width="229" height="33" style="margin:0 0 0 5px;"></td>
                </tr>
                <tr>
                  <td colspan="2"><p class="loctext">LOCATION OPTIONS</p></td>
                </tr>
                <tr>
                  <td width="20" valign="top"><p>
                      <img src="/images/newdesign/unselected.png" onclick="Togglepopup('light1'); Togglefade('fade1');">
                    </p></td>
                  <td width="214" valign="top"><p class="specify-text-unselect">Decide Location Later</p></td>
                </tr>
                <tr>
                  <td colspan="2" height="8"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <img src="/images/newdesign/unselected.png" onclick="Togglepopup('light2'); Togglefade('fade2');">
                    </p></td>
                  <td valign="top"><p class="specify-text-unselect">New Location</p></td>
                </tr>
                <tr>
                  <td colspan="2" valign="top" height="8"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <img src="/images/newdesign/unselected.png" onclick="Togglepopup('light3'); Togglefade('fade3');">
                    </p></td>
                  <td valign="top"><p class="specify-text-unselect">Saved Location</p></td>
                </tr>
                <tr>
                  <td colspan="2" valign="top" height="8"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <img src="/images/newdesign/selected.png" onclick="Togglepopup('light4'); Togglefade('fade4');">
                    </p></td>
                  <td valign="top"><p class="specify-text-selected">Airport</p></td>
                </tr>
                <tr>
                  <td colspan="2" valign="top" height="8"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <img src="/images/newdesign/unselected.png" onclick="Togglepopup('light5'); Togglefade('fade5'); resise();">
                    </p></td>
                  <td valign="top"><p class="specify-text-unselect">Search for a Location</p></td>
                </tr>
              </table></td>
            <td width="310" valign="top"><table width="310" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="310" colspan="2"><p style="font-family:Arial, Helvetica, sans-serif; font-size:11PX; color:#333333; padding:51px 0 3px 0; text-transform:uppercase;">
          <%=hidden_field('address', 'kind',:value => "airport")%>
          <div id="airport" class="clearfix">
          <div class="formbit_small" style="clear: both;">
            <label class="add">airport is:</label><br />
            <%= select('address', 'airport_type', Address::AIRPORT_TYPES, {:selected => (@address.airport_type.to_sym rescue :airport_us) }, :onChange => "showAirportType(this.value);",:class => "select-airport") %>
          </div><br/>
          
          <div class="formbit_small" id="airport_country_div" style="<% if !@address.nil? %><%= 'display: none;' if(@address.airport? && @address.airport_type == 'airport_us') %><% end %>">
            <label class="add">country:</label><br />
            <%= mw_country_select( 'address', 'country_airport', ["United States", "Canada"], {:include_blank => true}, { :id => 'address_country_airport', :onChange => "showAirport();",:class => "select-airport"}) if !@address.nil? %><br/><br/>
          </div>
          
           <div class="formbit_small" id='airport_us' style="<% if !@address.nil? %><%= 'display: none;' if(@address.airport_type == 'airport_non_us') %><% end %>">
             <label class="add">airport:</label><br /><%=select('address', 'airport_id', Airport::AIRPORT_OPTIONS, { :include_blank => true }, :onChange => "showAirport();",:class => "select-airport")%><br /><p><span id="airport_code" style="color:#FF0000; font-size:10px;"></span></p>
           </div>  
          
          <div class="formbit_small" id='airport_non_us' style="<% if !@address.nil? %><%= 'display: none;' if(@address.airport_type == 'airport_us') %><% end %>">
            <label class="add">airport name or code:</label><br /><%=text_field('address', 'airport_non_us', :class => 'locationbox', :onchange => "showAirport();" )%>
              
          </div><br />
          
          <div class="formbit_small">
            <label class="add">location in the airport:</label><br />
            <div id="terminal_gate_formbit" class="compact_accessible_wrap">
              <%= text_field('address', 'terminal_gate', :class => 'locationbox')  %><br />
              <p><span id="loc_airport" style="color:#FF0000; font-size:10px;"></span></p>
              <br />
              <label for="address_terminal_gate" class="add">e.g., gate or food court, etc</label>
            </div>
          </div>
          

        </div>
                    </p></td>
                </tr>

                <tr>
                  <td height="7" colspan="2" valign="top"></td>
                </tr>
                <tr>
                  <td height="7" colspan="2"></td>
                </tr>

                <tr>
                  <td colspan="2"><table width="239" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="217"><p>
                            <label class="add">keep location private:</label><br />
                            <%= undisclosed_checkbox_new(:airport_version => false)%>	  
                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><p class="note2"></p></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td colspan="2" valign="top" ><div style="border-bottom:1px dotted #989898; margin:4px 0 0 0; width:510px;">&nbsp;</div></td>
          </tr>
          <tr>
            <td colspan="2" valign="top" ><div style="width:232px; margin:0 0 0 289px;">
                <table width="232" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2" height="20">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="102"><p class="cancel-close"><a href ="#invitation_maximum_invitees" onclick="document.getElementById('light4').style.display='none';document.getElementById('fade4').style.display='none'" > Cancel &amp; Close</a></p></td>
                    <td width="130"><p>
                        <input type="image" src="/images/newdesign/continue.jpg" border="0" width="130" height="38" onmouseover="this.src= '/images/newdesign/continue-over.jpg';" onmouseout="this.src = '/images/newdesign/continue.jpg';" onclick ="return validate_airport();">
                      </p></td>
                  </tr>
                </table>
              </div></td>
          </tr>
          <tr>
            <td colspan="2" valign="top" height="41"></td>
          </tr>
        </table>
      </div>
    </div>
    <div><img src="/images/newdesign/loc-bottom-bg.jpg" border="0" width="648" height="7"></div>
  </div>
  </p>
</div>
<div id="fade4" class="black_overlay_common"></div>
</form>
