<form action="/" method="post" onsubmit="new Ajax.Request('/post_invite/update_address',{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)});return false;">
<div id="light8" class="white_content_common_edit_saved_location">
  <p>
  <div style="width:648px; margin:0 auto;">
    <div><img src="/images/newdesign/loc-top-bg.jpg" border="0" width="648" height="7"></div>
    <div style="background:url(/images/newdesign/loc-middle-bg.jpg) repeat-y; width:648px; ">
      <div  style="width:571px; float:left; padding:25px 0 4px 0;">
        <p class="cancel-grey"><a href = "#invitation_maximum_invitees" onclick="document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none'"> Cancel &amp; Close</a></p>
      </div>
      <div style="float:left; width:59px;"><a href ="#invitation_maximum_invitees" onclick="document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none'"> <img src="/images/newdesign/location-close.jpg" border="0" width="28" height="26" style="margin:17px 0 4px 5px;"></a> </div>
      <div style="clear:both;">
        <table width="544" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td valign="top" width="234"><table width="234" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2"><img src="/images/newdesign/specify-location.jpg" border="0" width="229" height="33" style="margin:0 0 0 5px;"></td>
                </tr>
                <tr>
                  <td colspan="2"><p class="loctext">LOCATION OPTIONS</p></td>
                </tr>
                <tr>
                  <td width="20" valign="top"><p>
                      <input type="radio" name="decide1" onclick="Togglepopup('light1'); Togglefade('fade1'); document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none';" id="loc1">
                    </p></td>
                  <td width="214" valign="top"><p class="specify-text-unselect">Decide Location Later</p></td>
                </tr>
                <tr>
                  <td colspan="2" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <input type="radio" name="decide1" onclick="Togglepopup('light2'); Togglefade('fade2'); document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none';" id="loc1" checked>
                    </p></td>
                  <td valign="top"><p class="specify-text-selected">New Location</p></td>
                </tr>
                <tr>
                  <td colspan="2" valign="top" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <input type="radio" name="decide1" onclick="Togglepopup('light3'); Togglefade('fade3'); document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none';" id="loc1">
                    </p></td>
                  <td valign="top"><p class="specify-text-unselect">Saved Location</p></td>
                </tr>
                <tr>
                  <td colspan="2" valign="top" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <input type="radio" name="decide1" onclick="Togglepopup('light4'); Togglefade('fade4'); document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none';" id="loc1">
                    </p></td>
                  <td valign="top"><p class="specify-text-unselect">Airport</p></td>
                </tr>
                <tr>
                  <td colspan="2" valign="top" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><p>
                      <input type="radio" name="decide1" onclick="Togglepopup('light5'); Togglefade('fade5'); document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none';" id="loc1">
                    </p></td>
                  <td valign="top"><p class="specify-text-unselect">Search for a Location</p></td>
                </tr>
              </table></td>
            <td width="310" valign="top"><table width="310" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2"><p style="font-family:Arial, Helvetica, sans-serif; font-size:11PX; color:#333333; padding:51px 0 3px 0; text-transform:uppercase;">Location Name<br>
                      <%= location_input(:class => 'locationbox',:maxlength => '50') %>
                    </p>
                    <p class="note1">Note: Find previous locations in Saved Locations</p></td>
                </tr>
                <tr>
                  <td width="95" valign="top"><div id="sctoggle_new"><%= render :partial => "post_invite/outside_us_link_new" %></div></td>
                  <td width="215">&nbsp;</td>
                </tr>
                <%=hidden_field('address', 'kind',:value => "regular")%>
                <tr>
                  <td colspan="2"><p class="add">ADDRESS<br>
                      <%= text_field('address', 'address', :class => 'locationbox',:maxlength => '50', :onchange => "showAddress('address_address');")  %>
                      <br>
                      <%= text_field('address', 'address2', :class => 'locationbox',:maxlength => '50')  %>
                    </p></td>
                </tr>
                <tr>
                  <td height="7" colspan="2" valign="top"></td>
                </tr>
                <tr>
                  <td colspan="2"><p class="add">city<br>
                  	  <%= text_field('address', 'city', :class => 'locationbox',:maxlength => '50')  %>
                    </p></td>
                </tr>
                <tr>
                  <td height="7" colspan="2" valign="top"></td>
                </tr>
                <tr>
				
				  <input type="hidden" name="address[id]" value="<%= @address.id %>"/>
				
                  <td colspan="2"><table width="310" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="157"><div id="stat_new">
						   <% if @address.country == "United States" %>
                        		<%= render :partial => "post_invite/states" %>
						   <% else %>
						   		<%= render :partial => "post_invite/countries" %>
						   <% end %>
                          </div></td>
                        <td width="15">&nbsp;</td>
                        <td width="138"><p class="add">ZIP CODE<br>
                        	<%= text_field( 'address', 'zip', :class => 'zipbox') %>
                          </p></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td colspan="2" valign="top" ><div style="border-bottom:1px dotted #989898; margin:4px 0 0 0; width:510px;">&nbsp;</div></td>
          </tr>
          <tr>
            <td colspan="2" valign="top" ><div style="width:232px; margin:0 0 0 289px;">
                <table width="232" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2" height="20">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="102"><p class="cancel-close"><a href="#invitation_maximum_invitees" onclick="document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none'" > Cancel &amp; Close</a></p></td>
                    <td width="130"><p>
                        <input type="image" src="/images/newdesign/continue.jpg" border="0" width="130" height="38" onclick = 	"document.getElementById('light8').style.display='none';document.getElementById('fade8').style.display='none'">
                      </p></td>
                  </tr>
                </table>
              </div></td>
          </tr>
          <tr>
            <td colspan="2" valign="top" height="41"></td>
          </tr>
        </table>
      </div>
    </div>
    <div><img src="/images/newdesign/loc-bottom-bg.jpg" border="0" width="648" height="7"></div>
  </div>
  </p>
</div>
<div id="fade8" class="black_overlay_common_edit_saved_location"></div>
 <%#= end_form_tag %>   
 </form>      
