
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="/images/meetingwave/favicon.gif" type="image/x-icon" />
	<%= stylesheet_link_tag("meetingwave/base.css") %>
	<%= stylesheet_link_tag("meetingwave/two.css") %>
	<%= stylesheet_link_tag("meetingwave/pages/home.css") %>
	<%= stylesheet_link_tag("meetingwave/pages/invitations.css") %>
	<%= stylesheet_link_tag("meetingwave/modular/nav.css") %>
    <%= javascript_include_tag 'invite_schedule'  %>
    <%= javascript_include_tag :defaults %>
	<!-- Utilities -->
<script type="text/javascript" src="/windows_js/javascripts/window.js"> </script> 
<script type="text/javascript" src="/javascripts/help_bubble.js"> </script> 
<link href="/windows_js/themes/default.css" rel="stylesheet" type="text/css"/> <!-- Add this to have a specific theme--> 
<link href="/windows_js/themes/meetingwave.css" rel="stylesheet" type="text/css"/> <!-- Add this to have a specific theme--> 
<link href="/windows_js/themes/meetingwave_modal.css" rel="stylesheet" type="text/css"/> <!-- Add this to have a specific theme--> 
  </head>
  <body style="margin: 100px;">
  <script type="text/javascript">

document.observe('dom:loaded', function() {
  new HelpBubble({ anchor:'tl', arrow: 'top_left', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
  new HelpBubble({ anchor:'tr', arrow: 'top_right', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
  new HelpBubble({ anchor:'br', arrow: 'bottom_right', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
  new HelpBubble({ anchor:'bl', arrow: 'bottom_left', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
  new HelpBubble({ anchor:'rt', arrow: 'right_top', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
  new HelpBubble({ anchor:'rb', arrow: 'right_bottom', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
  new HelpBubble({ anchor:'lt', arrow: 'left_top', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
  new HelpBubble({ anchor:'lb', arrow: 'left_bottom', width: 215, height: 80,
              title : "Post an Invite!", 
              content : "Try posting an Invite today. You can describe who you want to meet with or the purpose of the meeting. You decide whether the meeting occurs and who can attend.",
              offsetY : 30,
              offsetX : 30
      });
    });
    




</script>

<div style="height: 200px; width: 400px; float: left;">
  <h1 id="tl">Top Left Anchor</h1>
  <br/>
  <br/>
</div>

<div style="height: 200px; width: 400px; float: left;">
<h1 id="tr">Top Right Anchor</h1>
<br/>
<br/>
</div>

<div style="height: 200px; width: 400px; float: left;">
<h1 id="br">Bottom Right Anchor</h1>
<br/>
<br/>
</div>

<div style="height: 200px; width: 400px; float: left;">
<h1 id="bl">Bottom Left Anchor</h1>
<br/>
<br/>
</div>

<div style="height: 200px; width: 400px; float: left;">
<h1 id="rt">Right Top Anchor</h1>
<br/>
<br/>
</div>

<div style="height: 200px; width: 400px; float: left;">
<h1 id="rb">Right Bottom Anchor</h1>
<br/>
<br/>
</div>

<div style="height: 200px; width: 400px; float: left;">
<h1 id="lt">Left Top Anchor</h1>
<br/>
<br/>
</div>

<div style="height: 200px; width: 400px; float: left;">
<h1 id="lb">Left Bottom Anchor</h1>
<br/>
<br/>
</div>
<div style="height: 200px; width: 400px; float: left;">
<h1 id="rb">Right Bottom Anchor</h1>
<br/>
<br/>
</div>
</body>
</html>
