
<!-- start-main-container-->
        
   		 <!-- start-inner-container-->
      
       <!-- new create form start-->
  <div class="maincontent-create">
	<div class="create-mw"></div>
<div class="create-mw-middle-result">
			<!-- start main business on 03 Feb 2010-->
            	<div class="main-business">
                <div class="business">
    <p class="heading-win"> Win/Win Business Networking</p>
	<p class="sub-heading-bus">Begin Useful Relationships. Meet New Clients. Make More Money.</p>
    <p class="content-bus"><em>Discover  how to establish useful relationships, how to find more leads and better  qualified prospects. </em>We show you how to meet new clients or customers to make more money with our free online tool.</p>
            <p class="content-bus">Welcome  to MeetingWave.com </p>
                    <p class="content-bus">The World  Wide Web makes finding people with common interests so easy that businesspeople  can’t ignore it. However, people still need the advantages of face-to-face  business networking over online contacts.</p>
            <p class="content-bus">What if  you could combine both modalities: Online networking for business and, then, off-line  meeting with selected contacts?</p>
 <div ><p class="sub-heading-bus">Rainmakers Schmooze…</p></div>
   <p align="left" class="content-bus">Among  the most important skills businesspeople need to succeed, the gift to successfully  connect with other people comes first. </p>
   
   <div>
   <ul id="rain">
   <li>Entrepreneurs, salespeople, and professionals have been relying on their schmoozing abilities for ages. </li>
   <li>Job hunters who mastered the art of rubbing elbows find new jobs faster than those who read classified ads. They also get better positions.</li>
   <li>Actively seeking prospects and continuously doing business networking  instead of passively contacting leads makes the difference between <strong>rainmakers</strong> and poorly paid sales agents.</li>
   <li>Repeated contacts make more and better sales and bring more business  opportunities than cold calling and one-time meetings.</li>
   </ul>
   </div>
   <p align="left" class="content-bus">In other  words, to establish profitable businesses, successful people take time to  connect with one another and make inside connections…</p>
   <div align="left" class="sub-heading-bus"><span class="Title2">…And so do us <em>Meeting Wave Members</em></span></div>
   <p align="left" class="content-bus">You’ll  find MeetingWave simple to use. A straightforward search engine assists users  who wish to search invites. For a business search you can easily exclude posts  with a romantic purpose. </p>
   <p align="left" class="content-bus" >You have two options to begin business networking with MeetingWave. Either browse posts to find public invites to attend a proposed meeting or post your own invites. </p>
   <p align="left" class="content-bus">Search invites to attend a meeting:</p>
   <div align="left">
          <ul id="rain">
            <li >Navigate the listings and <strong>find a local  public invite</strong> in the field of your interest.</li>
            <li >Accept the invite and wait for approval. It´s up to the members who posted the invites to decide whether you may be present at their proposed meetings.</li>
            <li>If approved, get out of your comfort zone and go to the off-line meeting.  <a href="http://www.meetingwave.com/browse"></a><br /></li>
          </ul>
          <div align="center"><a href="http://www.meetingwave.com/browse"><%= staticbutton("search-invite") %></a>
        
        </div>
        </div>
        <div ><p class="sub-heading-bus"><strong>Post an invite: </strong></p>
        <ul id="postinvite">
        <li>Post a public invite describing the type of people you’d like to meet with or the purpose of your proposed meeting. Or import your contacts from LinkedIn, Gmail, Yahoo, AOL and Hotmail and send invites to those contacts to meet them in person.</li>
        <li>When people accept your invitations, we let you know by e-mail. </li>
        <li>You decide who attends the meeting by approving or rejecting the acceptance requests. Why do you have to approve acceptance requests? The simple answer is “TARGETING”. Meetings are only confirmed if you approve at least one acceptance from another member</li>
        </ul>
           
  <div>
    <div align="center"><a href="http://www.meetingwave.com/postinvite"><%= staticbutton("post-invite") %></a><br />
        </div>
  </div>
  </div>
   <p align="left" ><span class="sub-heading-bus">Establish Win/Win Relationships </span></p>
         
        <p class="content-bus">As you  build useful relationships, remember that MeetingWave is not an event-oriented  website. There are better tools to organize events. Instead, we provide </p>
        <p align="center" class="online-txt-bus">a free online meeting place<br />
        to meet people off-line. </p>
        <p align="left" class="content-bus" >&quot;Use MeetingWave’s networking capabilities to organize get-togethers over coffee, lunch, golf, or other meeting activity. Choose a safe public place for the first meeting where you, and the people you agreed to meet, can…&quot;<br />
        </p>
        <div align="left">
          <ul id="rain1">
            <li >relax</li>
            <li >exchange business cards</li>
            <li >discuss funds and venture capital</li>
            <li >identify and prepare for interesting upcoming events</li>
            <li >make new friends</li>
            <li >be entertained</li>
          </ul><br />
        </div>
        <p align="left" class="content-bus">Above  all, remember that successful business networking focuses on service and being  remembered, not just meeting new people. Ask how you could help the other  person in his or her business. Also, get ready to deliver a 30 second self-presentation.  Make it compelling. Don’t be lazy; you can’t afford to miss the opportunity to  deliver a well-prepared presentation.</p>
        <p align="center" class="online-txt-bus">Be heard!<br />
        Extend your reach!<br />
        Lead a group!</p>
        <p align="left" class="content-bus">Follow-up  on every off-line contact you made in the first meeting. Most business  opportunities arise after repeated contacts; so do not just initiate business  networking. Maintain and improve your relationships with proper follow-up.</p>
        <p align="left" class="content-bus">Join MeetingWave  and our useful business networking community. Start a long term profitable  relationship today. It’s easy, and it can be a lot of fun. Money and business  opportunities come next. </p>
        <p align="left" class="content-bus">Become  a&nbsp;<a href="http://www.meetingwave.com/signup">registered member</a>&nbsp;and you’ll be able to create “Meeting  Alerts”. Every time a member posts an invite that matches your search criteria,  MeetingWave sends an alert to your e-mail inbox. </p>
        <p align="left" class="content-bus">You can register using your Google account, if you have one. Facebook Connect is available, too. Advertise your invites to your Facebook or LinkedIn contacts.  <strong>Meet with them in person</strong> and begin establishing Win/Win relationships!<br />
          <br />
        </p>
        <div ><p class="sub-heading-bus">Sign Up and <a href="http://www.meetingwave.com/postinvite">Try Posting an Invite</a> Today!</p></div>
        <div>
          <div align="center" >
            <div align="center"><a href="http://www.meetingwave.com/signup"><%= staticbutton("signup-meetingwave") %></a></div>
          </div>
        </div>
        </div>
</div>
           <!-- End main business on 03 Feb 2010-->

            
            
            
    </div>
    <div class="create-mw-bottom"></div>
  </div>
       <!-- new create form END-->
  	
        <!-- End-inner-container-->
 
<!-- End-main-container-->
<% if !current_member %>
<%= render :partial => 'shared/signin' %>
<%= render :partial => 'shared/how_it_works' %>
<%= render :partial => 'shared/about' %>
<% end %>