<div class="maincontent-create">
	<div class="create-mw"></div>
<div class="create-mw-middle-result">
			<!-- start main business on 03 Feb 2010-->
            	<div class="main-business">
                <div class="business">
    <p class="heading-win">Meeting People… On-line, then Off-line  </p>
    	<p class="sub-heading-bus">Click, post, approve, meet, shake hands and exchange business cards!</p>

    <p class="content-bus"> 
    <em>Tired of virtual hugs or throwing sheep on Facebook? <br />
    Weary of giving Fives on Hi5 without ever meeting with your contacts? </em>
</p>
<p class="content-bus"> 
    <em>We show you how to get real!</em>
</p>
<p class="content-bus">Welcome to MeetingWave.com<br />
Despite the explosion of social media sites, people like you and your online contacts still need to<br />
meet one another face to face. That's why we combined the best of both worlds for you:</p>
            <p>
            <ul id="attendmeeting">
   <li>the broad scopes of <span class="maintxtblue">virtual</span>, anonymous spaces  </li>
   <li>with the vibes of physical, face-to-face interaction </li>

   </ul>
            </p>
                    
          <p align="center" class="online-web-meet">Get the best of both worlds</p>
 
   <p align="left" class="content-bus">
Meeting people online and seeing them offline was never this easy. Find a “meeting invite” in your local area or post your own “public invite” to meet in person with people YOU want to meet. Finally you can meet with Facebook friends in your own neighborhood! See your contacts <span class="maintxtblue">in person!</span></p>

<p align="left" class="content-bus">
Use MeetingWave to meet new people or to organize a meeting with people you already know. Send an Invite to friends from:</p>

<div>
<table width="530" border="0" cellspacing="0" cellpadding="0" style="margin:0 0 0 15px;">
  <tr>
    <td width="156"><p class="meet-new-people">Badoo</p></td>
    <td width="31">&nbsp;</td>
    <td width="156"><p class="meet-new-people">LinkedIn</p></td>
    <td width="31">&nbsp;</td>
    <td width="156"><p class="meet-new-people">Hi5</p></td>
  </tr>
  <tr>
    <td><p class="meet-new-people">Yahoo360!</p></td>
    <td>&nbsp;</td>
    <td><p class="meet-new-people">Tribe</p></td>
    <td>&nbsp;</td>
    <td><p class="meet-new-people">MySpace</p></td>
  </tr>
  <tr>
    <td><p class="meet-new-people">Windows Live Spaces</p></td>
    <td>&nbsp;</td>
    <td><p class="meet-new-people">CyWorld</p></td>
    <td>&nbsp;</td>
    <td><p class="meet-new-people">Bebo</p></td>
  </tr>
  <tr>
    <td><p class="meet-new-people">Facebook</p></td>
    <td>&nbsp;</td>
    <td><p class="meet-new-people">Orkut</p></td>
    <td>&nbsp;</td>
    <td><p class="meet-new-people">Friendster</p></td>
  </tr>
  <tr>
    <td colspan="5" height="20">&nbsp;</td>
    </tr>
</table>

</div>
   <p class="content-bus">…and many other general networking sites. We’re not jealous of other social media; we share.</p>
   
   
   
   <div align="left" class="sub-heading-bus">Meeting people with MeetingWave.com</div>
   <p class="content-bus"><span class="maintxtblue">From zero to many.</span> Quickly make new friends or find new prospects or clients. Meeting people (whether to support your cause—whatever that is—, to make business or just to hang out) is plain simple when you post an invite on MeetingWave.com.</p>
   <p class="content-bus">Take advantage of our integration features: </p>
   <p align="left" >
   <ul id="calendarint">
   <li><span class="maintxtblue">Calendar integration - </span>You can sync your meeting dates with your iCal, Outlook, Windows Calendar, Google Calendar. If your calendar is iCalendar-format compatible, MeetingWave will sync! </li>
   <li><span class="maintxtblue">Mobile devices -</span> Treo, BlackBerry, smart phones... Just browse to http://m.meetingwave.com and you are ready to accept invites while you stroll the streets in your neighborhood. MeetingWave goes with you wherever you go. </li>
   <li><span class="maintxtblue">Import contacts-</span> Gmail, Yahoo!, LinkedIn... Importing contacts to MeetingWave is a click or two.</li>
   <li><span class="maintxtblue">Meeting people through our Widget-Builder-</span> Have you got your own site? Use our widget-builder to export your invites to a blog or webpage. Placing the right code on another site is just a copy-paste!</li>
   <li>And <span class="maintxtblue">Much More</span> to make the most out of your contact lists!
</li>
   </ul>
    </p>
              <p align="center" class="online-web-meet">Sign Up Today and Meet with Them<br />
Face to Face Next Weekend!</p>

              <p class="content-bus">
              <span class="maintxtblue">Step 1:</span> Become a member to post a Public Invite for a meeting. Specify the type of people you want to network with or the purpose of the meeting. For example, explain you want to form a local business networking lunch or create a local writers night. Include a proposed time and place in your Public Invite. Publish and wait for any other member to review and accept it.<br /><br />
              <span class="maintxtblue">Step 2:</span> MeetingWave notifies you by e-mail each time someone requests attendance.<br /><br />
              <span class="maintxtblue">Step 3:</span> Then, YOU approve or decline the request to attend from other members. Nobody will ask your reasons. Only &quot;approved&quot; people may attend your meeting and your proposed meeting is only confirmed if you approve at least one acceptance request.
              
               </p>
        
        <p align="left" class="content-bus" >Browse our listings to find proposed meetings in your city.  See how easy meeting people is:<br />
        </p>
        <div align="left">
          <ul id="rain">
            <li >Navigate the listings and <span class="maintxtblue">find a local public invite</span> in the field of your interest.</li>
            <li >Accept the invite and wait for approval. </li>
            <li >Come back to MeetingWave and post your own invite to repeat the experience and have a lot of fun again.</li>
            
            </ul>
            <div align="center"><a href="http://www.meetingwave.com/browse"><%= staticbutton("search-invite") %></a><br /><br />
        
        </div>
        <div align="center"><a href="http://www.meetingwave.com/postinvite"><%= staticbutton("post-invite") %></a><br /><br />
        </div>
            
<p class="content-bus">There’s no obligation to have the meeting you describe in a posting. By posting an invite, you are just proposing a meeting and the people you approved to attend can work out the details later.</p>
<p class="content-bus">And don’t worry about your e-mail address! MeetingWave’s double-blind-messaging system keeps e-mail addresses private for your security and peace of mind.</p>
          <p align="center" class="online-web-meet">Whatever your reasons to organize a meeting are…</p>
        </div>
        <p class="content-bus">… you can count on our system:</p>
        <p>
        <ul id="attendmeeting">
   <li>To lead a group </li>
   <li>To organize poetry nights </li>
   <li>To finally make your CyWorld mini-rooms real! </li>
 <li>To organize business funding meetings </li>
 <li>For meeting people in your neighborhood interested in jogging with you </li>
 <li>For B2B networking </li>
 <li>Gather with fellow alumni </li>
 <li>Meet other attendees at the next conference you attend </li>
 <li>To Find a job </li>
 <li>To start weekly drinks to talk about what may come </li>
 <li>To find your better half! </li><br />

   </ul>
        </p>
        <p align="center" class="networks-meet"><em>MeetingWave allowed me to meet the many people who<br />
are my "friends" on LinkedIn, Facebook and other social networks,<br />
yet have never met with in person. —Ian, a MeetingWave-maker</em> </p>

<p align="left" class="content-bus"><a href="http://www.meetingwave.com/signup">Register today</a>&nbsp;and create “Meeting People Alerts”; this way, every time another member posts an invite matching your search terms, we’ll send you an e-mail. </p>
        
<div align="center"><a href="http://www.meetingwave.com/signup"><%= staticbutton("signup-meetingwave") %></a></div>
        
        
        
        
                </div>
            	</div>
           <!-- End main business on 03 Feb 2010-->

            
            
            
    </div>
    <div class="create-mw-bottom"></div>
  </div>
  
  
<% if !current_member %>
<%= render :partial => 'shared/signin' %>
<%= render :partial => 'shared/how_it_works' %>
<%= render :partial => 'shared/about' %>
<% end %>