<div class="maincontent-create">
	<div class="create-mw"></div>
<div class="create-mw-middle-result">
			<!-- start main business on 03 Feb 2010-->
            	<div class="main-business">
                <div class="business">
    <p class="heading-win"> Meet People Online… </p>
	<p class="sub-heading-meetpeople ">to Meet with Them Off-line!</p>
    	<p class="sub-heading-bus">
On the crest of which wave…</p>

    <p class="content-bus"> A new wave…Alvin Toffler predicted it. The Third Wave pushed aside the Second; which, in turn, had put the First out of the way. 
</p>
            <p class="content-bus"><span class="maintxtblue">You are witnessing the wave.</span> People all over the world are more and more interested in getting in touch with old friends they haven’t seen in years! And strangers are connecting to share several common interests. Whom did you search for when you signed up for a Facebook account? On which wave…</p>
            <p class="sub-heading-bus">…would you like to surf today?</p>
            <p>
            <ol id="surftoday">
            <li><span class="maintxtblue"><strong>The First Wave</strong></span> was one-to-one communication that lasted several millenniums until the XIX century. </li>
          <li>With the Scientific and Mass Media Revolutions, the new one-to-many approach to communication of the <span class="maintxtblue"><strong>Second Wave</strong></span> overtook the previous way.   </li>
          <li>Then, the Internet arrived. In the <span class="maintxtblue"><strong>Third Wave</strong></span>, we communicate in an affordable many-to-many basis.</li>
            </ol>
            </p>
                    
          <p align="center" class="online-web-meet">Surf the New Wave on<br />
       our Free Web-2.0 board</p>
 <div align="center"><p class="sub-heading-bus">How it works</p></div>
   <p align="center" class="content-bus">
Are you planning a service presentation? Do you want to develop a new business network or find your next client or customer? Create a meeting and meet people FACE-TO-FACE in three easy steps. </p>
   
   <div>
   <ol id="howitworks">
   <li>Post a <span class="maintxtblue"><strong>public invitation</strong></span> to meet new people or send a <span class="maintxtblue"><strong>private invite</strong></span> to your friends.  Describe the type of people you’d like to meet.  </li>
   <li>When someone accepts your invitation, we notify you by e-mail.</li>
   <li>You decide who attends the meeting and whether your proposed meeting occurs.</li>
   
   </ol>
   </div>
   <div align="center"><a href="http://www.meetingwave.com/browse"><%= staticbutton("search-invite") %></a>
        <br /> <br />
        </div>
   <p align="left" class="content-bus">Would you like to meet people in you area? Do you want to meet new people while traveling on business? </p>
   <div align="left" class="sub-heading-bus"><span class="Title2">Attend a Meeting!</em></span></div>
   <p align="left" >
   <ul id="attendmeeting">
   <li>Browse our lists and find a meeting invite that interests you. </li>
   <li>Wait to see if the organizer approves your acceptance. </li>
   <li>If approved, you may attend.</li>
   </ul>
    </p>
  <div align="center"><a href="http://www.meetingwave.com/postinvite"><%= staticbutton("post-invite") %></a><br /><br />
        </div>
                           <p align="center">
                   			 <span class="subtxtmeet">Imagine you could</span><br />
               			     <span class="subtxtmeet2">Meet People Online in Your Area</span><br />
               				 <span class="subtxtmeet">today... thru a free service… and</span><br />
               				 <span class="subtxtmeet2"> Meet With Them Off-line</span><br />
       			  <span class="subtxtmeet">next week … in Person!</span></p>
   
        <div ><p class="sub-heading-bus"><strong>Use MeetingWave<br /> to meet people and…</strong></p>
        <ul id="meetingpeople">
        <li>Pitch your product to a group</li>
        <li>Start networking for business </li>
        <br />
        </ul>
         <ul id="meetingpeople">
        <li>Arrange a rendezvous with compatriots in a foreign country</li>
        <li>Organize weekly get-togethers </li>
        <br />

        </ul>
         <ul id="meetingpeople">
        <li>Sort out who would attend a conference</li>
        <li>Network with fellow alumni in your area</li>
        <br />

        </ul>
        <ul id="meetingpeople">
        <li>Recruit staff for your small business</li>
        </ul>
           
  
  </div>
  <div ><p class="sub-heading-bus"><strong>You’ve got several <br /> categories to choose from:</strong></p>
        <ul id="meetingpeople">
        <li>Business: meet potential customers or clients, provide or request sales material</li>
        <li>Social: organize sport teams, alumni get-togethers, political meetings, tea parties</li>
        <br />
        </ul>
         <ul id="meetingpeople">
        <li>Career: investigate a new career, find your next job opportunity</li>
  
        <br />

        </ul>
         <ul id="meetingpeople">
        <li>Borrow something: Ask, and Thou shall receive. Forget your Blackberry charger at home? Maybe someone nearby has a loaner and can meet at a nearby coffee shop.</li>
        <br />

        </ul>
        
           
  
  </div>
   
         
        <p class="content-bus">MeetingWave puts an advanced search at your disposal to meet people. Browse our listings by zip code to find invites in your town. Browse them by keywords to find posts that match your interests.  </p>
        
        <div align="left">
          <ul id="rain">
            <li ><span class="maintxtblue">Search What</span> — Interested in business-networking-only invites? We’ve included a checkbox to exclude romantic meetings. Wish to have a friendly diner or lunch with a stranger? Still looking for your other half? Uncheck the Exclude Romance box; then, browse to see whether someone is making recurrent invites to meet every Friday. And someday…</li>
            <li ><span class="maintxtblue">Search Who</span> — Remember a MeetingWave username and wish to contact the user? We can help.</li>
            <li ><span class="maintxtblue">Search When</span> — Before, on or after a certain date. </li>
            <li ><span class="maintxtblue">Search Where</span> —If you can’t find invites in your hometown, local Meeting Wave Members may be afflicted with the chicken-or-egg syndrome! Be the first one in your area to post a Meeting and see how ‘em chickens… er… users… accept your bold offer. Our location search engine finds matches in your area or country, around a specific location or within as many miles suits you best.</li>
            </ul>
            <p align="center" class="networks-meet">"MeetingWave allowed me to meet people who are<br />
my ‘friends’ on LinkedIn, Facebook and other social<br />	
networks, yet have never met with in person.&quot; —Ian </p>
<ul id="rain">
            <li ><span class="maintxtblue">Connect thru Google</span> — Own a Google Account? Save time and log in to MeetingWave with your Google e-mail.</li>
            <li ><span class="maintxtblue">Connect with Facebook</span> — A connection to this social network is also available. Take your Facebook friends to MeetingWave and post invites on your Facebook wall. </li>
            </ul>
          
        </div>
        
        <p align="center" class="online-txt-bus">Meet Face-to-Face with Your Contacts<br />
Facebook — Hi5 — Xing — Twitter — LinkedIn</p>
<div align="center"><a href="http://www.meetingwave.com/signup"><%= staticbutton("signup-meetingwave") %></a><br /><br /></div>
        
        
        <p align="left" class="content-bus">Become  a&nbsp;<a href="http://www.meetingwave.com/signup">registered member</a>&nbsp;to create your own Meeting Alerts. When someone posts a new invite matching your search criteria, we’ll notify you by e-mail.


 </p>
        
                </div>
            	</div>
           <!-- End main business on 03 Feb 2010-->

            
            
            
    </div>
    <div class="create-mw-bottom"></div>
  </div>
  
<% if !current_member %>
<%= render :partial => 'shared/signin' %>
<%= render :partial => 'shared/how_it_works' %>
<%= render :partial => 'shared/about' %>
<% end %>