<div id="meeting-alerts-outer">
  <div id="meeting-alerts-header" class="clearfix">
    <h2>Meeting Alerts</h2>
    <%= link_to_function(button_image('close.green'), "Element.hide('search_config');") %>
  </div>
  <div id="meeting-alerts-inner">
    <div id="meeting-alerts">
        <ul id="alerts">
          <% current_member.saved_searches.each do |search| %>
            <li id="alert-<%= search.id %>" class="alert" >
              <%= link_to(search.name, run_email_alert_url(:search_filter => search.data)) %>
              <br/>
                <% if search.email? %>
                  <%= link_to_remote('Email: On', :url => toggle_email_alert_url(:id => search.id), :html => {
                                                  :id => "alert-email-#{search.id}", 
                                                  :class => 'email-on'}) %>
                <% else %> 
                  <%= link_to_remote('Email: Off', :url => toggle_email_alert_url(:id => search.id),  :html => {
                                                   :id => "alert-email-#{search.id}", 
                                                   :class => 'email-off'}) %>
                <% end %>
                <%= link_to('Test Search', run_email_alert_url(:search_filter => search.data), :class => "alert-search") %>
                <%= link_to_remote('Delete', :url => delete_email_alert_url(:id => search.id), 
                                             :html => { :class => "alert-delete" })  %>
              </li>
            <% end %>
          </ul>
      </div>
  </div>
  <div id="meeting-alerts-footer">
    <%= link_to_function("Create Meeting Alert", "showSaveEmail()", :class => "arrow-link searheadtext") %>
  </div>
</div>
