<div class="maincontent-create">
<div id="middle-mw-top">
<div id="top-bg-new">&nbsp;</div>
<div style="width:995px; clear:both;">
<h1 class="plain" style="padding-left:36px;">Delete Invite "<%= @invitation.name %>"</h1>
<h3 class="yousure" style="padding-left:36px;">Are you sure?</h3>

<% if @invitees.blank? %>
	<p style="padding: 10px 0 0px 36px;">If you continue, this Invite will be permanently
	deleted.  Click the <b>DELETE</b> button to delete this Invite, or click Cancel to return
	to this Invite without deleting it.</p>

	<% form_tag(confirm_delete_url(:id => @invitation.id)) do -%>
	  <div id="delete-notifications-buttons" >
		<p style="padding-left:36px;"><%= button_image_delete("delete") %></p>
		<br/>
		<p class="canceltext" style="padding-left:36px;"><%= link_to("Cancel", show_invite_url(:id => @invitation.id)) %></p>
	  </div>
    <% end %>
<% else %>
	<p style="padding-left:36px;">If you continue, this invite will be permanently deleted and
	notifications will be sent to the Invitees you select from the list below.</p>
	<p class="selectit" style="padding-left:36px;">Select the Invitees you'd like to notify:</p>
	<% form_tag(confirm_delete_url(:id => @invitation.id)) do -%>
		  <div class="middle" style="padding-left:36px;">

			<ul>
			  <% @invitees.each do | invitee | %>
				<% if invitee.is_a?(Member) %>
				  <li>
				  <%= check_box_tag("members[]", invitee.id, true) %>
				  <%= invitee.user_name %>
				  <%= "(#{invitee.fullname})" unless invitee.fullname.blank? %>
				  </li>
				<% elsif invitee.is_a?(NonMember)  %>
				  <li>
				  <%= check_box_tag("non_members[]", invitee.id, true) %>
				  <%= invitee.email %>
				  </li>
				<% end %>

			  <% end %>
			</ul>

		  </div>
		  <div id="delete-notifications-buttons" >
			<p style="padding-left:36px;"><%= button_image_delete("delete") %></p>
			<br/>
			<p class="canceltext" style="padding-left:36px;"><%= link_to("Cancel", show_invite_url(:id => @invitation.id)) %></p>
		  </div>
	<% end %>

  <% end %>

<br/>
<br/>
<br/>
</div>
       	<div id="sub-bottom-mw">&nbsp;</div>
        <div id="bottom-mw">&nbsp;</div>      


</div>
</div>