<div class="maincontent-create">
<div id="middle-mw-top">
<div id="top-bg-new">&nbsp;</div>
<div style="width:995px; clear:both;">

<div id="inner_content"> 
<h1>Import Contacts</h1> 
<p class="align_space">
  You can now import your contacts from your Gmail, Hotmail, Yahoo, AOL, or
  LinkedIn accounts.  Choose the type of account you want to import your
  contacts from in the dropdown box below.  Then enter your username and
  password for that site and click the Import button.
</p>

    <%= content_tag(:p, flash[:error], :class => "error") if(flash[:error]) %>
    <%= content_tag(:p, flash[:notice], :class => "notice") if(flash[:notice]) %>

	<div id="import_form" >

		<% form_tag(imported_contacts_post_url, :id => "do_import_form", :class => 'compact_accessible', :onsubmit => "Element.hide('import_button'); Element.show('import_spinner');") do -%>

		   <div class="formbit">
				<label for="import_type">Import From</label>
				<%= select_tag("import_type", options_for_select([['GMail', 'gmail'], 
																  ['Yahoo!', 'yahoo'], 
																  ['Hotmail', 'hotmail'], 
																  ['AOL', 'aol'], 
																  ['LinkedIn', 'linkedin']])) %>

			<br/>

		   </div>

		   <div class="formbit contact_import_email " >
				<label id="email_label">Email</label>
				<div id="email_input_wrapper" class="email_input compact_accessible_wrap">
					<label id="email_address_label" for="email_address" class="overlabel">you@gmail.com</label>
					<%= text_field_tag('email_address', "", :id => 'email_address', :class => 'txt') %>
				</div>
		   </div>


		   <div class="formbit contact_import_password">
				<label for="password">Password</label>
				<%= password_field_tag('password', "", :id => 'password', :class => 'txt') %>
		   </div>

		   <div id="import_button_box">
                <%= image_submit_tag("/images/meetingwave/buttons/import.gif",:border => 0,:style=>"padding-top:5px;",:id=>"import_button",:onmouseover=>"this.src= '/images/meetingwave/buttons/import_over.gif';",:onmouseout=>"this.src = '/images/meetingwave/buttons/import.gif';") %><br />
				<!--input name='Submit' value='Import' type='image' src='<%#= button_path("import") %>' id="import_button" /><br/-->
				<%= image_tag('/images/ttb/quick_invite_spinner.gif', :id => 'import_spinner', :style => 'display: none;') %>
		   </div>

		<% end %>
	</div>

	<p class="align_space">
	  <b>Please note:</b> We do not store your username or password.  We will only use them to fetch your contacts this one time.
	</p>

</div>

</div>
       	<div id="sub-bottom-mw">&nbsp;</div>
        <div id="bottom-mw">&nbsp;</div>      


</div>
</div>


<script type="text/javascript"> 
	function showSelectedImportField(element, value) {
		if(value == 'linkedin') {
			$('email_address_label').innerHTML =  'you@yourlinkedinemail.com';
        } else {
			$('email_address_label').innerHTML =  'you@' + value + '.com';
		}
		//$('email_address').style.background = 'url(/images/ttb/other_site_logos/' + value + '.favicon.gif) no-repeat #FFF 5px;';
		Element.classNames('email_address').each( function(value){ 
			if(value != 'txt'){
				Element.removeClassName('email_address', value);
            }
		});

		Element.addClassName('email_address', value + '_bg');
    }
	Event.observe(window, 'load', function() { 
		initOverLabels(); 
		showSelectedImportField(null, $('import_type').value);
	}); 
</script>	
<%= observe_field('import_type', :frequency => 1, :on => :change, :function => "showSelectedImportField(element, value);") %>


	
