<style>
  .wide-inv {
  padding-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #e4e5e5;
  color:#5B5B5B;
font-family:arial;
font-size:12pt;
width:80%;
}



.inv-date {
  width: 40px;
  height: 40px;
  background: url(/images/meetingwave/bg.slice.green.gif) repeat-x;
  text-align: center;
  float: left;
}

.inv-date h4 {
  padding-top: 8px;
  color: #FFFFFF;
  font-size: 16pt;
  font-weight: bold;
}

.inv-header{ 
  float: left; 
  color: #548404; 
  padding-left: 8px;
}
.inv-header a {
  color: #548404; 
  text-decoration: none;
  font-size: 16pt;
  font-weight: bold;
}
.inv-desc {
  clear: both;
}



.inv-poster {
  font-size: 10pt;
}
.inv-poster-image {
  float: left;
  padding-right: 5px;
  padding-left: 0px;
}
.inv-poster-image img {
  height: 40px;
}
.inv-poster-details {
  padding-top: 10px;

}

</style>

	<div class="wide-inv">
				<div class="inv-date"><h4><%= inv.upcoming_meeting.start_time_local.strftime("%d") if !inv.upcoming_meeting.start_time_local.nil? %></h4></div>
				  <div class="inv-header">
						<%= link_to(inv.name, show_invite_url(:id => inv.id)) %><br/>
						<%= inv.upcoming_meeting.start_time_local.strftime("%I:%M %p") if !inv.upcoming_meeting.start_time_local.nil? %>,
						<%= location_format_short(inv) %>
				  </div>
				  <div class="inv-desc">
					<%= inv.description %>
				  </div>


				  <div class="inv-poster">
					<div class="inv-poster-image">
                      <% if(inv.inviter.member_profile.picture rescue false) %>
                        <%= image_tag(thumb_url(:id => inv.inviter.member_profile.picture.id, :dontcache => Time.now.to_i.to_s), :format => "jpg", :alt => '')  %>
                      <% end %>
					</div>
					<div class="inv-poster-details">
					Posted by: <%= link_to(inv.inviter.username, member_profile_url(:id => inv.inviter.id)) %>
				    <br/>
					On: <%= inv.created_at.strftime("%A, %B %d, %Y") %>
				  </div>
				  </div>
           <%= render :partial => "admin/quality/rate", :locals => { :asset => inv }   %>
           <%= render :partial => "admin/quality/romance_maker", :locals => { :inv => inv} %>
	</div>
