<div class="maincontent-create">
<div id="middle-mw-top">
<div id="top-bg-new">&nbsp;</div>
<div style="width:995px; clear:both;">

<h1 id="the-company">Meeting<span class="gr">Wave</span>: The Company</h1>
<div id="left-column">
  <ul>
    <li><a href="#company-profile">Company Profile</a></li>
    <li><a href="#founder">Team</a></li>
	<li><a href="#development">Development</a></li>
	<li><a href="#ADVISORS">Advisors</a></li>
	<li><a href="#our_blog">Our Blog</a></li>
	<li><a href="#contact-us">Contact Us</a></li>
	<li><a href="#inTheNews">MeetingWave in the News</a></li>
	<li><a href="#feedback">Feedback</a></li>
	
      
  </ul>
</div>
<div id="main-column">
 <div class="about-section">
    <h2><a name="company-profile">Company Profile</a></h2>
    <p>
      MeetingWave was created with the strong belief that networking with real people is the single 
	  most important thing you can do if you are looking for a new opportunity. Our tool connects you 
	  with real people, allowing you to build real, valuable relationships with other professionals, 
	  employees, clients, partners or mentors. 
    </p>

    <p>
      MeetingWave helps you target exactly who you want to meet, so you don't waste your time. Moreover, 
	  our features allow our members to control who they meet, as well as to protect their identity online. 
	  Finally, our professional focus helps members quickly connect with others with similar interests and 
	  goals.
    </p>

    <p>
      MeetingWave was developed by TTB Technologies, LLC, a company founded for the purposes of creating, 
	  developing, licensing and commercializing new technologies and intellectual property. 
    </p>

    

  </div>

  <div class="about-section">
        <h2><a name="founder">Team</a></h2><br>
        <p><span style="font-size:14px; font-weight:bold;">Steve Gibson, CEO</span><p> 
        <p>Steve brings broad experience in financial, technology and operating
        roles, having served as COO at the National Institute for Trial
        Advocacy, the nation's largest provider of litigation skills training,
        and at Right Hand Manager Software, a developer of analytic software
        tools. Previously, he was VP Corporate Development and VP Finance &
        Administration for Maxager Technology, where he was instrumental in
        raising over $50M in angel financing, and as Executive Director of The
        Bionomics Institute, a non-profit think tank focused on the role of
        technology in changing economic policy and business practices. Steve
        began his career on Wall Street as a research assistant to Alan
        Greenspan and as Associate Economist at Bear Stearns, having received
        his AB in Economics from Princeton University in 1986.  A frequent
        speaker on communication and management, he's been quoted in Business
        Week, The Wall Street Journal and other national publications.</p>
        
        <p> An active runner, triathlete and coach, Steve has completed two
        Ironman triathlons and numerous other endurance events.  He lives in
        Boulder with his wife Anne and 4-year old son Spencer, and is a
        disaster response team volunteer for Shelterbox.org.</p> 
      <p><span style="font-size:14px;font-weight:bold;">Marjorie Churgin, Director of Business Development & Sales</span></p>
        <p>Marjorie has more than 10 years experience in Business Development and
        financial sales on Wall Street.  Her clients have included large domestic
        banks, Japanese institutions, insurance companies, REITs, associations , and
        investment managers.  Marjorie is a member of the Board of the Columbia
        Business School Alumni Club, and a former Board member of the Financial Women's
        Association.  Networking with other professionals--both face-to-face and
        online--has been integral to her success, and stoked her initial interest in
        Meeting Wave. Marjorie is a graduate of Brown University and the Columbia
        Business School, and lives in New York City.</p>
  </div>
  
  <div class="about-section">
    <h2><a name="development">Development</a></h2>

    <a href="http://www.intelegencia.com/" target="_blank">Intelegencia</a>
  </div>
  
   <div class="about-section">
    <h2><a name="ADVISORS">Advisors</a></h2>
     <p></p>
    
   <!-- <p> 
      <b>Eddie Dombrower</b> - Senior executive with 26 years experience creating, improving and running businesses.
    </p>-->
    
        <div class="team-member clearfix">
        <h3 style="font-size:14px;">John Boyd</h3>
      <div class="our-team-photo">
        <%= image_tag('/images/meetingwave/candy/john.jpg', :alt => "John Boyd, founder/advisor") %>
        <h4>founder/advisor</h4>
        <!--  <h4>Ridgefield, CT</h4> -->
        <h5 class="about-profile-link"><%= link_to('MW Profile', 'http://www.meetingwave.com/p/John_Boyd') %> </h5>
      </div>

      <div class="our-team-bio">
        <p>
            John Boyd practiced intellectual property law for over a decade before
            launching MeetingWave. His experience includes working as a patent examiner at
            the US Patent Office, as an associate at large law firms in NYC, and later
            serving as Chief IP Counsel for biotech companies and most recently a
            semiconductor technology company.  He thought of the MeetingWave idea as a way
            to meet new clients while traveling.  John received a BS from Columbia
            University and a JD from George Mason University School of Law in Virginia. 
        </p>
      </div>
    </div>

    
    <p class="about-address">
      <b>Andrew Brandt</b> - 20 years as a software developer, technologist, and executive. Founded, operated, and took public three 
	  software companies.
    </p>

  </div>
  
  <div class="about-section">
    <h2><a name="our_blog">Our Blog</a></h2>

    <p>
      Please take a moment to read <%= link_to("Our Blog", news_home_url) %>. Many frequently asked questions are addressed there, as well as ideas 
	  about how our members are using MeetingWave everyday.
    </p>

    </div>
	
	<div class="about-section">
    <h2><a name="inTheNews">MeetingWave in the News</a></h2>

    <p>
      Read what they're saying about MeetingWave <%= link_to("In the News", in_news_home_url) %>.
    </p>

    </div>

  <div class="about-section">
    <h2><a name="contact-us">Contact Us</a></h2>

    <p>
      If you would like to contact us about anything, please send an email to<a href="mailto:contact@meetingwave.com">. 
	  contact@meetingwave.com.</a> 
    </p>

  </div>

  <div class="about-section">
    <h2><a name="feedback">Feedback</a></h2>
	<p>
	MeetingWave would love to hear your feedback. Please let us know how we're doing and how we can make your 
	experience on MeetingWave better <%= link_to('using this form', contact_us_url) %>. You can also email us with 
	feedback at <a href="mailto:feedback@meetingwave.com">feedback@meetingwave.com.</a> 
	</p>
	
    

    
  </div>

</div>
</div>
       	<div id="sub-bottom-mw">&nbsp;</div>
        <div id="bottom-mw">&nbsp;</div>      


</div>
</div>


<% if !current_member %>
<%= render :partial => 'shared/signin' %>
<%= render :partial => 'shared/how_it_works' %>
<%= render :partial => 'shared/about' %>
<% end %>