<h1>How it works?</h1> 
<h2>Connect here. Meet in person.</h2>

<p>
Our online tool connects you with the people you need to know. Our features 
give you control over who you meet, and protect your identity online. Even better,
it's free.
</p>

<p>
<a href="signup_url">Post a meeting invite</a>

<ol class="safety">

  <li>  
  <%= link_to("Decide who you want to meet- ", signup_url) %>
  Clients, customers, business partners, leads, mentors, alumni or anyone else
  who shares an interest you have. 
  </li>


  <li>
  <%= link_to("Set the time and place-", #) %> 
  Indicate when and where you want to meet, whether it’s coffee, lunch, happy 
  hour or even a round of golf. You can keep the details private until after 
  you have screened attendees, or indicate that you are flexible with the time 
  and place.  
  </li>

  <li>
  <%= link_to("Accept or Decline prospective attendees-", #) %>
  MeetingWave will notify you of members interested in attending your proposed
  meeting. Your job is to accept or decline each person. MeetingWave will notify 
  each member whether or not they can attend the meeting.  

  </li>

  <li>
  <%= link_to("Meet-", #) %>
  Go to your meeting and start networking with the people you want to meet.   
  </li>

 </ol>

 
 <ol class="safety">
<%= link_to("Browse meetings-",#) %>
  <li>  
  <%= link_to("Search meeting invites-", #) %>
  Clients, customers, business partners, leads, mentors, alumni or anyone else 
  who shares an interest you have. 
  </li>


  <li>
  <%= link_to("Accept an invite-",#) %> 
  Click the attend button. MeetingWave will let you know by email whether or not
  the meeting organizer approved your acceptance.
  </li>

  <li>
  <%= link_to("Meet-", #) %>
  Go to your meeting and start networking with the people you want to meet. 

  </li>

  

 </ol>





