<h1 style="padding-left: 36px;">MeetingWave Terms of Service</h1><br />
<h2 style="padding-left: 36px;">Effective Date: August 15, 2007</h2>
<p style="padding-left: 36px;">
Welcome to <%= link_to('MeetingWave.com', 'http://meetingwave.com') %> ("MeetingWave.com" or this "Web Site").
MeetingWave.com is a professional and social networking site that helps you
find the people you want to meet in the places you're going to be.  By posting
an invite on MeetingWave.com using PostInvite<span class="super_static">TM</span>, you can meet with new
people, anytime and anyplace.  <%= link_to('MeetingWave.com', 'http://meetingwave.com') %> is owned and operated by TTB
Technologies, LLC ("we" or "TTB Technologies").
</p><br />

<p style="padding-left: 36px;"> 
These Terms of Service govern your use of MeetingWave.com. By visiting
MeetingWave.com or using any of its services (including the MeetingWave
applications on Facebook, Bebo or any other web site), you expressly agree to
be bound by these Terms of Service. If you do not accept these Terms of
Service, you must discontinue use of the Web Site and any of its services.
</p><br />

<p style="padding-left: 36px;">
We reserve the right to modify these Terms of Service at any time by posting
changes on this Web Site. We encourage you to check these Terms of Service
frequently. Your continued use of this Web Site or its services or features
(collectively, the "MeetingWave.com Services" or "Services") constitutes
your acceptance of the current posted Terms of Service.
</p><br />

<p style="padding-left: 36px;">
If you violate these Terms of Service, we may, at our discretion, terminate
your membership, remove or modify the content you contributed, or take any
other action that we determine to be appropriate.
</p><br />

<p style="padding-left: 36px;">
<b>MeetingWave.com Members.</b>  Any user can view and search the invites posted on
MeetingWave.com. However, users who wish to post invites using the 
PostInvite service, respond to invites, contribute other content, or use our 
other Services are required to register as a MeetingWave.com member
("MeetingWave.com Member" or "Member").  There's no charge to become a 
MeetingWave.com Member, and registration is easy.
</p><br />

<p style="padding-left: 36px;">
Only users who are at least 18 years old are eligible to become
MeetingWave.com Members. By registering on our Web Site, you represent and
warrant that you meet MeetingWave.com's age requirements. 
</p><br />

<p style="padding-left: 36px;">
To become a MeetingWave.com Member, you will be asked at the Web Site to
select a username and password, and to provide your email address and name
(name is optional). Members are identified on MeetingWave.com by their
username.  A Member's full name and email address are not directly disclosed to
other Members and users, unless the Member includes this information in an
invitation, comment, personal profile, or other public posting. You agree that
the information that you provide to the Web Site will be true, accurate,
current and complete, and that you will update it promptly for changes.
</p><br />

<p style="padding-left: 36px;">
Members can post a personal profile which will be viewable by Members and users
of the Web Site.  Although posting a personal profile is optional, letting
other Members and users know about your background helps other Members and
users to decide whether they will accept your invitations, or confirm your
acceptance of their posted invitation.  Information that a Member may
optionally include in his or her profile includes, without limitation, first
name, occupation, employer, hometown, education, personal interests and
beliefs, gender, age, and other information.  A Member can edit his or her
profile at any time.
</p><br />

<p style="padding-left: 36px;"> 
We encourage you to carefully consider the information that you post on
MeetingWave.com and that you provide to other users. The information that
you post, including your personal profile, is visible to all MeetingWave.com
users when you post an invitation or accept another Member's invitation.  
Accordingly, we recommend that you do not include your full name or other
personally identifiable information in your Username, profile or any other
posting. We encourage you to review our <%= link_to('Safety Tips', safety_url) %>.
</p><br />

<p style="padding-left: 36px;">
<b>Password.</b>  You are responsible for safeguarding the password that you select
for your MeetingWave.com Member account.  You agree not to share your
password with anyone.  Any activities traceable to your username and password
will be your responsibility, regardless of whether you authorized those
activities.
</p><br />

<p style="padding-left: 36px;">
<b>Email Addresses/Mobile Phone Numbers.</b> We use your email and/or mobile phone
number to confirm the invitations you've posted or accepted, and to communicate
with you about your MeetingWave.com account, including any content that you may
have contributed to MeetingWave.com. We do not disclose your email address or
mobile phone number to other Members without first giving you prior notice and
an opportunity to opt out. We may also use your email or mobile phone number to
provide other Services using voluntary email services that you request (such as
email alerts and newsletters).
</p><br />

<p style="padding-left: 36px;">
Members can invite friends and contacts to become Members by sending pre-invite
emails using our automated invitation system.  MeetingWave.com stores the
email addresses to which a Member sends a pre-invite email, so that these
recipients, if they later become Members, can be added to the inviting Member's
friends list, and also to send reminders to these recipients of outstanding
pre-invite emails. Members may also store email addresses of friends and
contacts in their internal Member address book, and may also choose to send
invitations and other communications to those addresses.  MeetingWave.com
does not sell the email addresses provided by a Member to use these
MeetingWave.com Services, does not use these email addresses to send any
other communications besides invitations and invitation reminders, and does not
post these email addresses publicly on the Web Site. Recipients of a Member's
invite email may contact MeetingWave.com at 
<%= mail_to('privacy@meetingwave.com', 'privacy@meetingwave.com') %> to
request the removal of their email address from our pre-invite database.
</p><br />

<p style="padding-left: 36px;">
<b>Privacy.</b>  The information that we collect about you on the Web Site is governed
by MeetingWave.com's <%= link_to('privacy policy', pp_url) %> (the "Privacy
Policy"), which is located at 
<%= link_to('http://meetingwave.com/privacy', 'http://meetingwave.com/privacy') %>.  
We strongly urge you to review the terms of the Privacy Policy.  These Terms of
Service incorporate by reference the terms of the Privacy Policy.
</p><br />

<p style="padding-left: 36px;">
<b>Content Contributed by Members.</b> MeetingWave.com Members can post an invite,
send messages to other Members, respond to an invite, personalize their
MeetingWave.com profile, or post a comment at any time (collectively, examples
of "contributed content"). When you contribute content to MeetingWave.com, you
represent and warrant that (a) you are the author and owner of the intellectual
property rights in the contributed content, or otherwise have the right to use
the contributed content, including the right to submit it to the Web Site, and
(b) you grant to TTB Technologies a worldwide, perpetual, irrevocable,
royalty-free, transferable license, with the right to sublicense, to use, copy,
modify, create derivative works from, delete, display, publish, distribute, and
sell such contributed content, and to incorporate such contributed content into
other works in any form, medium or technology, whether now known or hereafter
developed, in each case, without compensation to you or any third party. You
agree to waive any moral rights that you may have to your contributed content.
You represent and warrant that none of your contributed content is subject to a
confidentiality obligation.
</p><br />

<p style="padding-left: 36px;">
You may edit or remove your contributed content from MeetingWave.com at any
time.  You acknowledge that TTB Technologies may delete any contributed content
that in its sole judgment violates these Terms of Service or which may be
offensive, illegal or violate the rights, harm or threaten the safety of any
person. TTB Technologies assumes no responsibility for monitoring the
MeetingWave.com Services for inappropriate content or conduct. If TTB
Technologies chooses at any time, in its sole discretion, to monitor the
MeetingWave.com Services, it nonetheless assumes no responsibility for the
content on the Web Site, and no responsibility for the conduct of the user
submitting such content.
</p><br />

<p style="padding-left: 36px;">
You agree that you will not post content to MeetingWave.com that contains:
<ul style="padding-left: 36px;"> 
          <li>Information that you know to be false, inaccurate or misleading;</li>
          <li>Language that is, in our sole judgment, defamatory, libelous, hateful or otherwise offensive, in our sole judgment;</li>
          <li>Personal information (such as full name, address, email address, or phone number) about another individual without that individual's express prior consent;</li>
          <li>Advertising or commercial content that is not relevant in the context including spam, junk or bulk email;</li>
          <li>Photographs containing nudity, or obscene, lewd, violent, harassing, sexually explicit or otherwise objectionable subject matter;</li>
          <li>Viruses, Trojan horses, worms, time bombs, or other computer programming routines that are intended to damage, interfere with, intercept, or appropriate any system or data;</li>
          <li>Content for which you receive compensation or other consideration from a third party;</li>
          <li>Or content that, in our sole judgment, violates the standards of good taste or the standards of this Web Site.</li>
</ul>
</p><br />

<p style="padding-left: 36px;">
<b>Prohibited Activity.</b> You agree, whether you are a Member or a non-registered
user of this Web Site, that you will not:
<ul style="padding-left: 36px;">
           <li>Use MeetingWave.com to further or promote any illegal activity or enterprise, including fraud, trafficking in obscene material, pornography, drug dealing, gambling, harassment, stalking, spamming, or distributing viruses or other harmful files;</li>
           <li>Use MeetingWave.com to harass, abuse or harm others;</li>
          <li>Impersonate or attempt to impersonate another MeetingWave.com Member or user;</li>
          <li>Sell or otherwise transfer a MeetingWave.com profile;</li>
          <li>Harvest or collect information about MeetingWave.com's users without their express consent;</li>
          <li>Solicit personal information from anyone under 18;</li>
          <li>Remove any copyright, trademark or other proprietary rights notices contained on MeetingWave.com or any material downloadable from MeetingWave.com;</li>
          <li>Frame MeetingWave.com, place pop-up windows over its pages, or otherwise affect the way MeetingWave.com is displayed, unless you have first received our express written permission;</li>
          <li>Add or use ActiveX, Java, Javascript, cookies, web beacons or other tracking technologies on MeetingWave.com;</li>
          <li>Use information found on MeetingWave.com to send spam;</li>
          <li>Or re-sell, decompile, reverse engineer, or disassemble MeetingWave.com, its contents or technology.</li>
</ul>
</p><br />

<p style="padding-left: 36px;">
<b>NO SPAM:</b> You may not transmit any chain letters, spam, junk email or other
unsolicited bulk emails or messages to other Members. In order to protect our
Members from such advertising or solicitation, MeetingWave reserves the right
to restrict the number of messages or acceptances which a Member may send to
other Members in any 15 minute or other time period to a number which
MeetingWave deems appropriate in its sole discretion. If you breach these Terms
and send any chain letters, spam, junk email or other unsolicited bulk emails
or messages of any kind through the MeetingWave Services, you acknowledge that
you will have caused substantial harm to MeetingWave, but that the amount of
such harm would be extremely difficult to ascertain. As a reasonable estimation
of such harm, you agree to pay MeetingWave $50 for each individual occurrence
of such unsolicited email or other unauthorized commercial communication you
send through the MeetingWave Services or transmitted from or otherwise
connected with your account.  You also hereby agree to waive any privacy or
other rights that might prevent or inhibit MeetingWave from obtaining your
identity and any other information for the sole purpose of establishing or
proving your violation of this Terms or otherwise enforcing the Terms.
</p><br />

<p style="padding-left: 36px;">
Despite MeetingWave.com's rules regarding permitted content, content posted
on the Web Site by Members (for example, in their profile) may contain
inaccurate, inappropriate, offensive or sexually explicit material, products or
services, and TTB Technologies assumes no responsibility or liability for this
content. If you believe that someone is misusing the MeetingWave.com
Services, please contact <%= mail_to('abuse@meetingwave.com', 'abuse@meetingwave.com') %>.
</p><br />

<p style="padding-left: 36px;">
<b>MeetingWave.com's Proprietary Rights.</b>  The Web Site and Services are the
property of TTB Technologies, and its licensors and suppliers, and are
protected by U.S. and international copyright, trademark and other rights and
laws. So long as you comply with these Terms of Service and are permitted by
TTB Technologies to use the Web Site and Services, you may download from this
Web Site one (1) copy of the information relating to a posted invitation to any
single computer solely for your personal use, provided that you keep intact all
copyright and other proprietary notices.  Except as otherwise authorized in
advance by TTB Technologies, you agree not to reproduce, modify, rent, license,
lease, loan, sell, transfer, distribute, or create derivative works based upon
all or any part of the Web Site, Services, or any materials or other content
made available through the Web Site.
</p><br />

<p style="padding-left: 36px;">
Trade names, trademarks and service marks of TTB Technologies include without
limitation: MEETINGWAVE; MEETINGWAVE.COM; MW; POSTINVITE; CONNECT WITH
PEOPLE. ANYTIME. ANYPLACE.; THE HOW FOR WHO WHAT WHERE WHEN AND WHY; and all
associated logos.  All trademarks and service marks on the Web Site not owned
by TTB Technologies are the property of their respective owners.  Nothing
contained on the Web Site should be construed as granting, by implication,
estoppel or otherwise, any license or right to use any MeetingWave.com trade
names, trademarks or service marks without our express prior written consent.
</p><br />

<p style="padding-left: 36px;">
You hereby assign and agree to assign to TTB Technologies all your rights,
including your intellectual property rights, in any new functionality, feature,
modification or improvement to the Web Site or its Services, that relate to or
result from your use of the Web Site and/or Services.  You agree to take
reasonable steps to assist TTB Technologies in securing and/or enforcing the
assigned rights. 
</p><br />

<p style="padding-left: 36px;">
This Web Site and the MeetingWave.com Services are protected by U.S. Patent
No. 6,963,900 and related applications.
</p><br />

<p style="padding-left: 36px;">
<b>Offline Conduct.</b>  Although we cannot monitor the conduct of users off the Web
Site, it is a violation of the Terms of Service to use any information obtained
from this Web Site in order to harass, abuse, or harm another person, or in
order to contact, advertise to, solicit, or sell to any user without his or her
prior explicit consent.
</p><br />

<p style="padding-left: 36px;">
<b>Member Disputes.</b> You are solely responsible for your interactions with other
MeetingWave.com Members. We reserve the right, but are not obligated, to
monitor disputes between you and other MeetingWave.com users.
</p><br />

<p style="padding-left: 36px;">
<b>Fees.</b> You acknowledge that we reserve the right to charge for the
MeetingWave.com Services and to change its fees from time to time in its
discretion. If we terminate your membership because you have breached these
Terms of Service, you will not be entitled to the refund of any unused portion
of the fees paid.
</p><br />

<p style="padding-left: 36px;">
<b>Links to Other Web Sites.</b>  The Web Site, including the content contributed by
Members, may include links to third-party Web sites.  Any dealings you have
with a third party linked to or from this Web Site are between you and the
third party.  Your use of a third-party Web site is governed by its terms of
service and privacy policy.  We have no control over these Web sites or their
content.  Other Web sites may link to our Web Site without authorization.  You
agree that we shall not be responsible or liable for any links to or from a
third party Web site to this Web Site, any materials, transactions, products or
services available on or through those Web sites, or any loss or damage that
you suffer as a result. 
</p><br />

<p style="padding-left: 36px;">
<b>Other Unauthorized Uses of This Web Site.</b>  You agree that you will not use any
data mining, robot, or similar data gathering or extraction tool, whether
automated or manual, to monitor or copy the Web Site's content without our
prior written permission.  You agree that you will not use any device,
software, or routine to interfere or attempt to interfere with the proper
working of the Web Site.  Illegal and/or unauthorized uses of the Web Site will
be investigated and subject to appropriate legal action, including, without
limitation, civil, criminal, and injunctive redress.
</p><br />

<p style="padding-left: 36px;">
For any breach of a portion of these Terms that does not specifically state a
liquidated damages amount, You hereby agree that any breach of these Terms
shall result in liquidated damages of $500 per each individual occurrence. You
specifically agree to pay this $500 in liquidated damages.
</p><br />

<p style="padding-left: 36px;">
If we are required to enlist the assistance of an Attorney or other person to
collect any liquidated damages or any other amount of money from You, or if we
are required to seek the assistance of an Attorney to pursue injunctive relief
against You, then You additionally agree that You will reimburse us for all
fees incurred in order to collect these liquidated damages or in order to seek
injunctive relief from You. You understand that even a nominal amount of
damages may require the expenditure of extensive legal fees, travel expenses,
costs, and other amounts that may dwarf the liquidated damages themselves. You
agree that You will pay all of these fees and costs.  You further agree to
waive any privacy or related rights against us or any other party to allow us
to discover evidence including Your identity and use of MeetingWave or its
Services solely for the use in establishing or proving your violation of the
Terms or otherwise enforcing the Terms.
</p>
<br />

<p style="padding-left: 36px;">
<b>Claims of Copyright Infringement.</b> If you believe that your work has been
copied in a way that constitutes copyright infringement, or your intellectual 
property rights have been otherwise violated, please provide 
MeetingWave.com's Copyright Agent the following information:
<ol style="padding-left: 36px;">
   <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
   <li>A description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
   <li>A description of where the material that you claim is infringing is located on the Web Site;</li>
   <li>Your address, telephone number, and email address;</li>
   <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
   <li>A statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.</li>
</ol>
</p><br />

<p style="padding-left: 36px;">
MeetingWave.com's Agent for Notice of claims of copyright or other
intellectual property infringement can be reached as follows:
</p><br />

<p class="address" style="padding-left: 36px;">By mail:</p>

<p class="address" style="padding-left: 36px;">
   TTB Technologies, LLC<br/>
   P.O. Box 742<br/>
   Ridgefield, CT 06877<br/>
   Attention: Legal<br/>
</p>
<p class="address" style="padding-left: 36px;">By email: <%= mail_to('legal@meetingwave.com', 'legal@meetingwave.com') %></p> <br/>
<br/>
<br/>


<p style="padding-left: 36px;">
<b>Collection of Information from Minors.</b> The Web Site is directed to, and
intended for use by, adults only. We require that a user be 18 years of age or
older to become a MeetingWave.com Member (and in doing so, to submit
personal information). We do not knowingly collect personal information from
children under the age of thirteen. If we become aware that we have
inadvertently received personal information from a user under the age of
thirteen, we will delete such information from our records. To review our
Privacy Policy, click on this link: <%= link_to pp_url, pp_url %>.
</p><br />

<p style="padding-left: 36px;">
USE VOID WHERE PROHIBITED. Use of the Web Site is void where prohibited.
</p><br />

<p style="padding-left: 36px;">
<b>DISCLAIMERS.</b>  TTB TECHNOLOGIES DOES NOT PROMISE THAT THE WEB SITE OR SERVICES
WILL BE ERROR-FREE OR UNINTERRUPTED, OR THAT USE OF THE WEB SITE OR ANY OF ITS
SERVICES, CONTENT, SEARCHES, OR LINKS WILL PRODUCE ANY PARTICULAR RESULT.  THE
WEB SITE AND ITS CONTENT ARE DELIVERED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS,
WITHOUT WARRANTY OR CONDITION OF ANY KIND, WHETHER EXPRESS OR IMPLIED.  TTB
TECHNOLOGIES DISCLAIMS ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT.  WE CANNOT ENSURE THAT
MATERIALS THAT YOU ACCESS OR DOWNLOAD FROM THE WEB SITE WILL BE FREE OF VIRUSES
OR CONTAMINATION OR DESTRUCTIVE FEATURES.
</p><br />

<p style="padding-left: 36px;">
TTB TECHNOLOGIES disclaims any and all liability for the acts, omissions, and
conduct of MeetingWave.com MEMBERS, users, AND/OR OTHER THIRD PARTIES in
connection with the Web Site or Services, or otherwise related to your use of
the Web Site or Services. WE ARE not responsible for the products, services,
actions, or failure to act of any third party in connection with or referenced
on the Web Site or Services.  Without limiting the foregoing, you may report
the misconduct of users or third parties referenced on or included in the Web
Site to MeetingWave.com at <%= mail_to("abuse@meetingwave.com",  "abuse@meetingwave.com") %>
or flag improper public invites for our attention.
WE may investigate the claim and take appropriate action, at our sole
discretion.
</p><br />

<p style="padding-left: 36px;">
THE LAWS OF CERTAIN STATES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES.  IF
YOU ARE SUBJECT TO THESE LAWS, SOME OR ALL OF the ABOVE DISCLAIMERS may NOT
APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
</p><br />

<p style="padding-left: 36px;">
<b>LIMITATION ON LIABILITY.</b>  IN NO EVENT WILL TTB TECHNOLOGIES BE LIABLE TO YOU
FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE
DAMAGES, INCLUDING LOST PROFITS, EVEN IF MEETINGWAVE.COM HAS BEEN ADVISED OF
THE POSSIBILITY OF SUCH DAMAGES.  MEETINGWAVE.COM'S AGGREGATE LIABILITY FOR
ALL CLAIMS ARISING FROM YOUR USE OF THE WEB SITE AND/OR SERVICES SHALL NOT
EXCEED THE GREATER OF USD $25.00 OR THE AMOUNT, IF ANY, PAID BY YOU TO TTB
TECHNOLOGIES FOR RECEIPT OF THE SERVICES.  CERTAIN JURISDICTIONS RESTRICT OR
PROHIBIT LIMITATIONS OF LIABILITY, IN WHICH CASE THE FOREGOING PROVISIONS WOULD
NOT APPLY TO YOU.
</p><br />

<p style="padding-left: 36px;">
<b>Indemnity.</b> You agree to indemnify and hold TTB Technologies, our directors,
officers, founders, employees, consultants, agents, affiliates, licensors,
suppliers, advertisers and sponsors harmless from any loss, liability, claim,
or demand, including reasonable attorneys' fees, that arise directly or
indirectly out of or from (a) your breach of these Terms of Service; (b) any
allegation that any materials you post on the Web Site infringe or otherwise
violate the copyright, trademark, trade secret or other intellectual property
or other rights of any third party; and/or (c) your activities in connection
with the Web Site or Services.  
</p><br />

<p style="padding-left: 36px;">
<b>Injunctive Relief.</b> You agree that monetary damages may not provide a
sufficient remedy to MeetingWave.com for violations of these Terms of 
Service and you consent to injunctive or other equitable relief for such 
violations.
</p><br />

<p style="padding-left: 36px;">
<b>Disputes.</b> If there is any dispute about or involving the Web Site or Services,
you agree that the dispute will be governed by the laws of the State of New
York without regard to its conflict-of-law provisions. You agree to personal
jurisdiction by and exclusive venue in the state and federal courts of the
State of New York, County of New York, and waive any jurisdictional, venue or
inconvenient forum objections to such courts. If any provision of these Terms
of Service is found unlawful, void or for any reason unenforceable, then that
provision shall be deemed severable from these Terms of Service and shall not
affect the validity of the remaining provisions.
</p><br />

<p style="padding-left: 36px;">
<b>Assignment.</b> You agree that these Terms of Service and all agreements and
information incorporated herein may be automatically assigned by TTB
Technologies, in its sole discretion, to a third party without notice to you.
You may not assign your obligations under these Terms of Service to a third
party.
</p><br />

<p style="padding-left: 36px;">
<b>Miscellaneous.</b> These Terms of Service are accepted upon your use of the Web
Site or the Services, and are further affirmed when you become a Member. By
using this Web Site, you represent and warrant that you have the right,
authority, and capacity to abide by these Terms of Service. The failure of TTB
Technologies to exercise or enforce any right or provision of these Terms of
Service shall not operate as a waiver of such right or provision. The section
titles in these Terms of Service are for convenience only and have no legal or
contractual effect. These Terms of Service operate to the fullest extent
permissible by law. If any provision of these Terms of Service is unlawful,
void or unenforceable, that provision is deemed severable from these Terms of
Service and does not affect the validity or enforceability of the remaining
provisions.
</p><br />

<p style="padding-left: 36px;">
<b>Contact Us.</b> If you see objectionable content or have any questions about these
Terms of Service, please contact TTB Technologies at 
<%= mail_to 'questions@meetingwave.com',  'questions@meetingwave.com' %>.
</p>
