<h1 class="invitename">Privacy Policy</h1>
<h4 class="profilesection">Effective Date: April 16, 2007</h4>
<p/>
<p>
This privacy policy describes the types of information that TTB Technologies,
LLC ("TTB Technologies" or "we") collects from users of
<%= link_to 'MeetingWave.com', 'http://meetingwave.com' %>  
("MeetingWave.com" or this "Web Site") and how that information is used.
Please read this policy carefully before providing any personal information to
this Web Site. TTB Technologies reserves the right to modify this privacy
policy at any time by posting the changes on this Web Site. We encourage you to
check our privacy policy frequently. If we make material changes that will
affect personal information that we have already collected from you, we will
make reasonable efforts to notify you of the changes and to give you the
opportunity to opt out.  Your continued use of this Web Site constitutes your
acceptance of the current posted privacy policy. If you have questions about
our privacy policy, please email us at <%= mail_to('privacy@meetingwave.com', 'privacy@meetingwave.com') %>.
</p>

<h3 class="profilesection">What data do we collect?</h3>

<h4>From All Web Site Users</h4>

<p>
We encourage you to register as a MeetingWave.com Member so that you can use
the PostInvite<span class="super_static">SM</span> service, respond to invites, and take advantage of the other
services that MeetingWave.com has to offer. However, if you choose not to
register, you can use any feature on our Web Site that does not require
registration.
</p>

<p>
If you do not register, the information we collect from you is limited. We
automatically log non-personally-identifiable information including the IP
address of all visitors to our Web Site.  We use your IP address to estimate
your general geographic location (so that we can show you invites to events
that are close to where you are), manage the Web Site, track usage statistics,
and improve the MeetingWave.com Services.  Your IP address may vary each
time you visit, or it may be the same, depending on how you access our Web
Site. Either way, it would be extremely difficult for us to identify you
through your IP address, and we make no attempt to do so. If you reached
MeetingWave.com by clicking on a link or advertisement on another Web site,
then we also log that information. This information helps us to understand the
interests of our users. All of this information is collected and used only in
the aggregate; that is, it is entered into our database, where we can use it to
generate overall reports on our users, but not reports about individual users.
</p>

<p>
We also place a small file known as a "cookie" on your computer's hard drive. A
cookie may contain information that allows us to track your path through our
Web Site and to determine whether you have visited us before. Unless you
register with us, the cookie is not associated with personal information that
would allow us to identify you. Cookies cannot be used to read data from your
hard drive and cannot retrieve information from cookies created by other Web
Sites. We use cookies in this manner to help us understand how visitors use our
Web Site and to help us to improve our Web Site. You may refuse to accept a
cookie from us by following the procedures specific to your Web browser. If you
set your browser to refuse cookies, please note that you may find that
MeetingWave.com will not function properly.
</p>

<p>
We may also place "Web beacons" (also known as "clear gifs") on our Web pages
and emails to you. Web beacons recognize a visitor's cookie information and
therefore gathers the information that allows us to understand how visitors use
our Web Site and Services.
</p>

<h3>From MeetingWave.com Members Only</h3>

<p>
To become a MeetingWave.com Member, you will be asked at the Web Site to
select a username and password, and to provide your email address and name
(name is optional). Members are identified on MeetingWave.com by their
username.
</p>

<p>
We also collect the information Members voluntarily provide to the Web Site in
order to use the MeetingWave.com Services.  This information typically
includes invitations posted using PostInvite, responses to invitations,
messages to Members, other users and friends, and the information about a
Member's interests and background provided in his or her personal profile.
Additionally, authorized MeetingWave.com personnel may update your
membership information to accurately reflect any new information included in
communications received from you.
</p>

<p>
Members can invite friends and contacts to become Members of MeetingWave.com
by sending pre-invite emails using our automated invitation system.
MeetingWave.com stores the email addresses to which a Member sends a
pre-invite email, so that these recipients, if they later become Members, can
be added to the inviting Member's friends list, and also to send reminders to
these recipients of outstanding pre-invite emails. Members may also store email
addresses of friends and contacts in their internal Member address book, and
may also choose to send invitations and other communications to those
addresses.  MeetingWave.com does not sell the email addresses provided by a
Member to use these MeetingWave.com Services, does not use these email
addresses to send any other communications besides invitations and invitation
reminders, and does not post these email addresses publicly on the Web Site.
Recipients of a Member's invite email may contact MeetingWave.com at
<%= mail_to('privacy@meetingwave.com','privacy@meetingwave.com') %> to request the removal of their email address from
our pre-invite database.
</p>

<p>
During each Member's visit to our Web Site, we also automatically collect from
our Members the information described in the preceding section, including a
Member's IP address and Web Site usage patterns recorded by our cookie and Web
beacons. The information we collect from a Member is either associated or
associable with the Member's username.

</p>

<h3 class="profilesection"> How Do We Use The Personal Information We Collect?</h3>

<p>
As we mentioned above, we collect personal information only from
MeetingWave.com Members, and the information we collect is voluntarily
provided by our Members.  We use a Member's personal information to perform the
TravelerTable.com Services.  Our use of your personal information can be
divided into four general categories.
</p>

<p>
First, we use your email to confirm the invitations you've posted or accepted,
to communicate with you about your MeetingWave.com account, including the
content that you may have contributed to MeetingWave.com, to deliver the
messages you've requested to your friends and contacts, to enforce our Terms of
Service, and to perform other administrative functions.  We do not disclose
your email address to other Members without first giving you prior notice and
an opportunity to opt out.  We may also use your email to provide other
Services that you request (such as email alerts and newsletters).
</p>

<p>
Second, we associate your username with a cookie so that the Web Site
automatically recognizes that you are a Member at the start of each visit,
which saves you the step of typing in your username and password. 
</p>

<p>
Third, we post on the Web Site the content submitted by a Member for posting,
including the personal information, if any, that may be included in the
submitted content.
</p>

<p>
Fourth, the MeetingWave.com Services are ad supported.  We may therefore use
non-personally-identifiable demographic information provided by our Members,
such as gender, geographical location, interests, age, education and
occupation, to provide more relevant advertisements to our users.
</p>


<h3 class="profilesection">Is The Personal Information We Collect Shared With Third Parties?</h3>

<p>
From time to time, TTB Technologies or a partner may sponsor a promotion,
sweepstake or contest on MeetingWave.com. Users may be asked to provide
personal information including name, email address or home address or to answer
questions in order to participate. We may transfer personal information to
certain ad partners that you have explicitly requested to receive information
from. It will be clear at the point of collection who is collecting the
personal information and whose privacy statement will apply.
</p>

<p>
TTB Technologies may transfer the personal information we collect to our
affiliates or to our successors-in-interest, such as a company that acquires
TTB Technologies or MeetingWave.com. We may also disclose personal
information about a user if we determine that an applicable law, regulation or
legal process requires it, or if we determine that we need to share such
information to protect or enforce our rights or the rights of another user.
</p>

<h3 class="profilesection">What Else Should A User Know About Our Privacy Practices?</h3>

<h4>Security</h4>
<p>
We maintain security measures in place in order to attempt to protect against
the loss, misuse and alteration of the personally identifiable information
under our control.  No method of transmission over the Internet, or method of
electronic storage, is 100 percent secure, however. Therefore, while we strive
to use commercially acceptable means to protect your information, please be
advised that TTB Technologies assumes no responsibility or liability for
disclosure of your information (personal or otherwise) due to errors in
transmission, unauthorized third-party access or other causes beyond our
control.
</p>

<h4>MeetingWave.com's Service Providers</h4>
<p>
MeetingWave.com works with reputable companies to provide services to our
Web Site and to our users. The information that each of these companies collect
about users of our Web Site is governed by its privacy policy, and is not
within our control. We encourage you to review the privacy policies of our
service providers, to ensure that you are comfortable with their practices.
</p>

<h4>Links to Other Web Sites</h4>
<p>
TTB Technologies does not control the privacy policies of any Web site linked
to MeetingWave.com. If you click on a link, the privacy policy of the Web
site that you link to will govern the collection and use of your information by
that Web site's operators. TTB Technologies assumes no responsibility or
liability for the actions of such third parties with respect to their use of
your information or otherwise. We recommend that you become familiar with the
privacy policy of every Web site that you visit.
</p>

<h4>Disclosure of Information in Public Areas</h4>
<p>
While information about a Member's interests and background helps facilitate
user interaction, we want to remind you that the personal information that you
post on MeetingWave.com -- for example, in an invite, reply to an invite, or
your Member profile -- may be collected and used by a third party to send you
unsolicited messages, advertisements or for other purposes. We encourage you to
carefully consider the information that you post on MeetingWave.com and that
you provide to other users. We do not control the actions of users of our Web
Site. If you disclose personal information in a public area, you do so at your
own risk.  In addition, we reserve the right to terminate the account of any
MeetingWave.com user who uses our Web Site in a manner inconsistent with the
<%= link_to('Terms of Service', 'http://meetingwave.com/tos') %>. We also encourage you to
review our <%= link_to('Safety Tips', 'http://meetingwave.com/safety') %>.
</p>

<h4>Collection of Information From Minors</h4>
<p>
Our Web Site is directed to and intended for use by adults only. We require
that a user be eighteen years of age or older to become a MeetingWave.com
Member (and in doing so, to submit personal information). We do not knowingly
collect personally identifiable information from children under the age of
thirteen. If we become aware that we have inadvertently received personally
identifiable information from a user under the age of thirteen, we will delete
such information from our records.   
</p>

<p>
Contact Us. If you have any questions about this Privacy Policy, please contact
TTB Technologies at <%= mail_to 'privacy@meetingwave.com', 'privacy@meetingwave.com' %>.   
</p>

<p>
Terms of Service. For our Terms of Service, <%= link_to tos_url, tos_url %>
</p>


