<div class="maincontent-create">
<div id="middle-mw-top">
<div id="top-bg-new">&nbsp;</div>
<div style="width: 945px; clear: both; padding-left: 35px;">
<h1>Add New Alumni</h1>

<% form_for(@alumini) do |f| %>
  <%= f.error_messages %>
  
  <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="81">University:</td>
    <td width="10">&nbsp;</td>
    <td width="509">
    	<%= private_mw.capitalize %>
        <input type="hidden" name="alumini[university_id]" />
		<%#= f.collection_select(:university_id,@universities,:id,:name, :include_blank=>false) %>
    </td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td width="81">User Id:</td>
    <td width="10">&nbsp;</td>
    <td width="509"><%= f.text_field 'user_name' %></td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td width="81">Password:</td>
    <td width="10">&nbsp;</td>
    <td width="509"><%= f.password_field 'password' %></td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%= ibutton_change_location("sign-in") %> <%= link_to 'Cancel', aluminis_path,:class => "savetext" %></td>
  </tr>
</table>

<% end %>


</div>
       	<div id="sub-bottom-mw">&nbsp;</div>
        <div id="bottom-mw">&nbsp;</div>      
</div>
</div>