<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
    <%= title_tag %>
	<link rel="shortcut icon" href="/images/meetingwave/favicon.gif" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="google-site-verification" content="O8RMwXL4nPrvB2KoAALuPAlHwWk9f5TDzeZ6S23rBAM" />
	<!-- Stylesheets  -->
    <%= stylesheet_link_tag("meetinwavenew/style.css") %>
	<%= stylesheet_link_tag("meetingwave/widget_base.css") %>
	<%= stylesheet_link_tag("meetingwave/two.css") %>
	<link rel="stylesheet" type="text/css" href="/yahoo_ui/build/fonts/fonts-min.css?_yuiversion=2.4.1" />
	<link rel="stylesheet" type="text/css" href="/yahoo_ui/build/colorpicker/assets/skins/sam/colorpicker.css?_yuiversion=2.4.1" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/ttb/widget_config.css" />
	<%= stylesheet_link_tag("meetingwave/modular/nav.css") %>
	<!-- Javascript Includes -->
    <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'member_profiles.js'  %>	
	<script type="text/javascript" src="/yahoo_ui/build/utilities/utilities.js?_yuiversion=2.4.1"></script>
	<script type="text/javascript" src="/yahoo_ui/build/slider/slider.js?_yuiversion=2.4.1"></script>
	<script type="text/javascript" src="/yahoo_ui/build/colorpicker/colorpicker-beta-min.js?_yuiversion=2.4.1"></script>
	<!-- Utilities  -->
    <%= render :partial => '/shared/quick_invite_includes' %>
	<%= render :partial => '/shared/tooltip_includes' %>
	<%= render :partial => '/shared/accessible_form_includes' %>
	<%= render :partial => '/shared/meta_tags' %>	


	
</head>
<body>
<div class="maincontainer">
  <div><% if !current_member %><%= render :partial => '/shared/before_login_header' %> <% else %><%= render :partial => 'shared/new_header' %> <% end %></div>
  
  <%= yield %>
  
  <div id="footer_new"> <%= render :partial => '/shared/footerhome' %> </div>
</div>
</body>


</body>
</html>

